@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
  font-family: 'Nunito', sans-serif;
  background: #FCF6F5;
}

.bg-green{
  background: rgb(9, 169, 9);
}

.bg-fgreen{
  background:#2C5F2D;
}
.bg-mgreen{
  background:#73bc45;
}

.bg-black{
  background:#000000;
}
.bg-teal{
  background:#A7BEAE;
}
